<main class="container">

  {{#each news}}

  <div class="media">
    {{!--<div class="media-left">
      <a href="#">
      <img class="media-object" src="assets/img/OWlogo.png" alt="Overwatch logo">
    </a>
    </div>--}}
    <div class="media-body">
      <h4 class="media-heading">{{this.title}}</h4>
      {{this.link}}
    </div>
  </div>

  {{/each}}

</main>